
<%= link_to 'Back', url_for(:back), class: 'form-control' %>
<div class="card">
  <div class="card-block">
    <h4 class="card-title"><%= @food_item.name %></h4>
    <p class="card-text"><%= @food_item.description %></p>
    <p class="card-text"><%= @food_item.price %> VND</p>
    <p class="card-text"><%= image_tag(@food_item.image_url, :size => "460x360")  %></p>
  </div>
</div>
