
<%= link_to 'Back', url_for(:back), class: 'form-control' %>
<div class="card">
  <div class="card-block">
    <h4 class="card-title"><%= @food_item.name %></h4>
    <p class="card-text"><%= @food_item.description %></p>
    <p class="card-text"><%= @food_item.price %> VND</p>
    <p class="card-text"><%= image_tag(@food_item.image_url, :size => "460x360")  %></p>
    <%= form_tag(orders_new_path, :method => "post", id: "search-form", :class => 'form-inline my-2 my-lg-0' ) do %>
    <%= hidden_field_tag :food_item, @food_item.id%>
    <%= submit_tag "Order Now", class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>
