<!DOCTYPE html>
<html>
  <head>
    <title>Dk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class='container'>
      <%= render 'layouts/navbar'%>
      <%= yield %>
      <div><br></div>
      <footer class='footer' style="background-color: #e3f2fd;">
        <div class='container' style="text-align: center;">
          <span style="font-size:9px">&copy;2017 DK Restaurant</span>
        </div>
      </footer>
    </div>
  </body>
</html>
